#services:
#  postgres:
#    image: postgres:13.3
#    environment:
#      POSTGRES_DB: "habrdb"
#      POSTGRES_USER: "habrpguser"
#      POSTGRES_PASSWORD: "pgpwd4habr"
#    ports:
#      - "5432:5432"


#----------------------------------------------------------------


#services:
#  db:
#    image: postgres:latest
#    restart: always
#    environment:
#      POSTGRES_DB: ${DB_NAME}
#      POSTGRES_USER: ${DB_USER}
#      POSTGRES_PASSWORD: ${DB_PASS}
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    ports:
#      - "5430:5432"
#    networks:
#      - backend
#
#  server:
#    restart: always
#    build: .
#    ports:
#      - "8000:8000"
#    depends_on:
#      - db
#    networks:
#      - backend
#    volumes:
#      - ./src:/app/src
#
#volumes:
#  postgres_data:
#
#networks:
#  backend:
