services:
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    privileged: true

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheusdata:/prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafanadata:/var/lib/grafana

  db:
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
      - backend

  redis:
    image: redis:8.4
    restart: always
    ports:
      - "6380:6379"
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    networks:
      - backend
    tty: true
    stdin_open: true

  backend:
    restart: always
    build: .
    ports:
      - "8008:8000"
    depends_on:
      - db
      - redis
    networks:
      - backend
    volumes:
      - ./src:/app/src

volumes:
  postgres_data:

networks:
  backend:

# -----------------------------------------------------

#services:
#  db:
#    image: postgres:17.7
#    restart: always
#    environment:
#      POSTGRES_DB: ${DB_NAME}
#      POSTGRES_USER: ${DB_USER}
#      POSTGRES_PASSWORD: ${DB_PASS}
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#    ports:
#      - "5435:5432"
#    networks:
#      - backend
#
#  server:
#    restart: always
#    build: .
#    ports:
#      - "8008:8000"
#    depends_on:
#      - db
#    networks:
#      - backend
#    volumes:
#      - ./src:/app/src
#
#  redis:
#    image: redis:8.4
#    ports:
#      - "6380:6379"
#    environment:
#      - REDIS_PASSWORD=${REDIS_PASSWORD}
##    deploy:
##      resources:
##        limits:
##          cpus: '0.50'
##          memory: 512M
##        reservations:
##          cpus: '0.25'
##          memory: 256M
#    command: >
#      sh -c '
#        mkdir -p /usr/local/etc/redis &&
#        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
#        echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
#        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
#      '
#    healthcheck:
#      test: ["CMD", "redis-cli", "-a", "$REDIS_PASSWORD", "ping"]
#      interval: 30s
#      timeout: 10s
#      retries: 5
#    restart: unless-stopped
#    tty: true
#    stdin_open: true
#    networks:
#      - backend
#
#
#volumes:
#  postgres_data:
#
#networks:
#  backend:
#
#
#
##----------------------------------------------------------------
#
#
#
##services:
##  postgres:
##    image: postgres:13.3
##    environment:
##      POSTGRES_DB: "habrdb"
##      POSTGRES_USER: "habrpguser"
##      POSTGRES_PASSWORD: "pgpwd4habr"
##    ports:
##      - "5432:5432"
#
#
